<div ng-include="'components/navbar/navbar.html'"></div>

<br>

<div class="container" id="everythingBelowNavbar">
  
  <div class="col-md-3" id="leftVerticalColumn">
    <div class="panel panel-default" id="columnbox1">
      <div class="panel-body">
        <form class="pet-form" name="FoundPetForm">
          <label>Enter Found Pet Info</label>
          <p class="input-group">
            <input type="text" class="form-control" placeholder="Pet's Name" name="petName" ng-model="foundPet.name">
            <input type="text" class="form-control" placeholder="Type of Pet/Breed" name="petType" ng-model="foundPet.type">
            <input type="text" class="form-control" placeholder="Color" name="petColor" ng-model="foundPet.color">
            <input type="text" class="form-control" placeholder="Address Pet Found" name="petAddress" ng-model="foundPet.address">
          </p>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="addPet()">Add Found Pet</button>
          </div>
        </form>
      </div>
    </div>

    <div class="panel panel-default" id="columnbox2">
      <div class="panel-body">
        Second Box
      </div>
    </div>

    <div class="panel panel-default" id="columnbox3">
      <div class="panel-body">
        Third Box
      </div>
    </div>

    <div class="panel panel-default" id="columnbox4">
      <div class="panel-body">
        Fourth Box
      </div>
    </div>
  </div> <!--id="leftVerticalColumn" -->

  <div class="container col-md-9" id="mainDisplay">
    <div class="row">
      <div class="col-lg-12">        
        <div class="container">
          <ui-gmap-google-map center="map.center" zoom="15">
          </ui-gmap-google-map>
        </div>

      </div>
    </div>

    <br>

    <div class="row col-md-12" id="petsFilter">
      <div class="form-group">
        <h1 class="page-header">Pets:</h1>
        <input type="text" class="form-control floating-label" ng-model="nameFilter" placeholder="Filter...">
      </div>
    </div>
    
    <div class="row col-md-12" id="petsLabel">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="pet in foundPets | filter: nameFilter">
        <li><a href="#" tooltip="{{pet.info}}">{{pet.name}} / {{pet.type}} / {{pet.color}} / {{pet.address}}<button type="button" class="close" ng-click="deletePet(pet)">&times;</button></a></li>
      </ul>
    </div>
  </div> <!--id="mainDisplay"-->

</div> <!--id="everythingBelowNavbar"-->


<footer class="footer">
  <div class="container">
      <p>Lost Paws v0.1 |
        <a href="http://www.seanrose.io">seanrose.io</a> |
         <a href="https://github.com/sean1rose">Github</a></p>
  </div>
</footer>
