<div ng-include="'components/navbar/navbar.html'"></div>

<br>

<div class="container" id="everythingBelowNavbar">
  <div class="container" id="mainDisplay">
    <div class="row" id="petsMapArea">

    
      <div class="col-lg-12" id="petSearch">
        <div class="findPet container row col-md-6 col-md-offset-3">
          <form id="findPetForm" ng-submit="findPet()">
            <input type="text" class="form-control" ng-model="formInfo.location" placeholder="Enter Your Address/Zip Code to Find Your Lost Pet...">
          </form>
        </div> <!--class="findPet"-->
      </div> <!--id="petSearch"-->
    

      <br><br>

      <div class="container" id="actualMapCanvas">
        <div id="map-canvas" style="height: 500px;"></div>
      </div>



    </div> <!--id="petsMapArea"-->
    
    <div class="container col-md-12" id="petsTable">
      <div class="container row col-md-6 col-md-offset-3">
        <div id="foundPetsHeader">
          <h1 class="page-header">Found Pets Database</h1>
        </div>
        <div id="foundPetsFilter">
          <input type="text" class="form-control" ng-model="nameFilter" ng-model-options="{debounce: 300}" placeholder="Filter by Keyword...">
        </div>
        <br>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Pet Name</th>
            <th>Type of Pet</th>
            <th>Color</th>
            <th>Address Pet Found</th>
            <th>Found By</th>
            <th>Date Found</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pet in foundPets | filter: nameFilter"> <!--use ng-repeat here. -->
            <td>{{pet.name}}</td>
            <td>{{pet.type}}</td>
            <td>{{pet.color}}</td>
            <td>{{pet.addressFound}}</td>
            <td>{{pet.foundBy}}</td>
            <td>{{pet.dateFound}}</td>
            <td><button type="button" class="close" ng-click="deletePet(pet)">&times;</button></td>         
          </tr>
        </tbody>
      </table>    
    </div> <!--container -->

  </div> <!--id="mainDisplay"-->

</div> <!--id="everythingBelowNavbar"-->


<footer class="footer">
  <div class="container">
      <p>Lost Paws v0.1 |
        <a href="http://www.seanrose.io">seanrose.io</a> |
         <a href="https://github.com/sean1rose">Github</a></p>
  </div>
</footer>
