<div ng-include="'components/navbar/navbar.html'"></div>

<header id="foundHeader">
  <div class="container auth">
      <p><h1 class="text-center titlefont">Find a Lost Pet?</h1></p>
      <p><h2 class="text-center">Answer a few short questions so we can connect you with the pet's rightful owner</h2></p>
      <div id="big-form" class="well auth-box">
        <form class="pet-form" name="FoundPetForm">
          <fieldset>

            <!-- Pet's Name-->
            <div class="form-group">
              <label class=" control-label" for="textinput">Pet's Name:</label>  
              <div class="">
                <input type="text" class="form-control" placeholder="Name of Pet" name="petName" ng-model="foundPet.name">
              </div>
            </div>

            <!-- Pet Type/Breed-->
            <div class="form-group">
              <label class=" control-label" for="pettype">Breed/Type:</label>
              <div class="">
                <input type="text" class="form-control" placeholder="Type of Pet/Breed" name="petType" ng-model="foundPet.type">
              </div>
            </div>

            <!-- Pet Color-->
            <div class="form-group">
              <label class=" control-label" for="petcolor">Color:</label>
              <div class="">
                <input type="text" class="form-control" placeholder="Color of Pet" name="petColor" ng-model="foundPet.color">
              </div>
            </div>

            <!-- Pet Address-->
            <div class="form-group">
              <label class=" control-label" for="petaddress">Address/Zip Code Found:</label>
              <div class="">
                <input type="text" class="form-control" placeholder="Address Pet Found" name="petAddress" ng-model="foundPet.address">
              </div>
            </div>

            <!-- Date Found-->
            <div class="form-group">
              <label class=" control-label" for="datefound">Date Found:</label>
              <div class="">
                <input type="text" class="form-control" placeholder="Date Pet Found" name="dateFound" ng-model="foundPet.dateFound">
              </div>
            </div>

            <!-- Found By -->
            <div class="form-group">
              <label class=" control-label" for="foundby">Pet Found By:</label>
              <div class="">
                <input type="text" class="form-control" placeholder="Pet Found By" name="foundBy" ng-model="foundPet.foundBy">
              </div>
            </div>

            <!-- Contact Info -->
            <div class="form-group">
              <label class=" control-label" for="finderContact">Contact Info:</label>
              <div class="">
                <input type="text" class="form-control" placeholder="Phone Number/Email Pet Owner Can Reach You At" name="finderContact" ng-model="foundPet.finderContact">
              </div>
            </div>

            <!-- File Button for Uploading Picture of Found Pet --> 
            <div class="form-group">
              <label class=" control-label" for="filebutton">Upload Found Pet Image</label>
              <div class="">
                <input id="filebutton" name="filebutton" class="input-file" type="file">
              </div>
            </div>

            <button type="submit" class="btn btn-primary" ng-click="addPet()">Add Found Pet</button>

          </fieldset>
        </form>
      </div>
    <div class="clearfix"></div>
  </div>
</header>

<br>

<footer class="footer">
  <div class="container">
      <p>Lost Paws v0.1 |
        <a href="http://www.seanrose.io">seanrose.io</a> |
         <a href="https://github.com/sean1rose">Github</a></p>
  </div>
</footer>