<div ng-include="'components/navbar/navbar.html'"></div>

<br>

<div class="container row">
<!--   <div class="col-md-4">
  </div> -->
  <div class="col-md-5 col-md-offset-4">
    Find a Lost Pet? Enter info here so we can connect you with its owner
    <div class="panel panel-default" id="columnbox1">
      <div class="panel-body">
        <form class="pet-form" name="FoundPetForm">
          <label>Enter Found Pet Info</label>
          <p class="input-group">
            <input type="text" class="form-control" placeholder="Pet's Name" name="petName" ng-model="foundPet.name">
            <input type="text" class="form-control" placeholder="Type of Pet/Breed" name="petType" ng-model="foundPet.type">
            <input type="text" class="form-control" placeholder="Color" name="petColor" ng-model="foundPet.color">
            <input type="text" class="form-control" placeholder="Address Pet Found" name="petAddress" ng-model="foundPet.address">
          </p>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="addPet()">Add Found Pet</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<!--   <div class="col-md-4">
  </div>   -->
</div>

<div class="container auth">
    <h4 class="text-center titlefont">Find a Lost Pet? Enter the pet's info here so we can connect you with its rightful owner.</h4>
    <div id="big-form" class="well auth-box">
      <form class="pet-form" name="FoundPetForm">
        <fieldset>

          <!-- Pet's Name-->
          <div class="form-group">
            <label class=" control-label" for="textinput">Pet's Name</label>  
            <div class="">
              <input type="text" class="form-control" placeholder="Pet's Name" name="petName" ng-model="foundPet.name">
              <span class="help-block">help</span>  
            </div>
          </div>

          <!-- Pet Type/Breed-->
          <div class="form-group">
            <label class=" control-label" for="pettype">Pet Type/Breed</label>
            <div class="">
              <input type="text" class="form-control" placeholder="Type of Pet/Breed" name="petType" ng-model="foundPet.type">
              <span class="help-block">help</span>
            </div>
          </div>

          <!-- Pet Color-->
          <div class="form-group">
            <label class=" control-label" for="petcolor">Pet Color</label>
            <div class="">
              <input type="text" class="form-control" placeholder="Color of Pet" name="petColor" ng-model="foundPet.color">
              <span class="help-block">help</span>
            </div>
          </div>

          <!-- Pet Address-->
          <div class="form-group">
            <label class=" control-label" for="petcolor">Address Pet Was Found</label>
            <div class="">
              <input type="text" class="form-control" placeholder="Address Pet Found" name="petAddress" ng-model="foundPet.address">
              <span class="help-block">help</span>
            </div>
          </div>

          <!-- File Button for Uploading Picture of Found Pet --> 
          <div class="form-group">
            <label class=" control-label" for="filebutton">Avatar</label>
            <div class="">
              <input id="filebutton" name="filebutton" class="input-file" type="file">
            </div>
          </div>

          <button type="submit" class="btn btn-primary" ng-click="addPet()">Add Found Pet</button>



          <!-- Select Basic -->
          <div class="form-group">
            <label class=" control-label" for="selectbasic">Country</label>
            <div class="">
              <select id="selectbasic" name="selectbasic" class="form-control">
                <option value="1">Option one</option>
                <option value="2">Option two</option>
              </select>
            </div>
          </div>

          <!-- Multiple Radios -->
          <div class="form-group">
            <label class=" control-label" for="radios">Are you awesome</label>
            <div class="">
              <div class="radio">
                <label for="radios-0">
                  <input name="radios" id="radios-0" value="1" checked="checked" type="radio">
                  Yes
                </label>
              </div>
              <div class="radio">
                <label for="radios-1">
                  <input name="radios" id="radios-1" value="2" type="radio">
                  No
                </label>
              </div>
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class=" control-label" for="singlebutton">Do you like this button</label>
            <div class="">
              <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
            </div>
          </div>
          <div class="form-group">
            <label class=" control-label" for="singlebutton">And this?</label>
            <div class="">
              <button id="singlebutton" name="singlebutton" class="btn btn-default">Button</button>
            </div>
          </div>


          <!-- Button (Double) -->
          <div class="form-group">
            <label class=" control-label" for="button1id">Double the action</label>
            <div class="">
              <button id="button1id" name="button1id" class="btn btn-success">Good Button</button>
              <button id="button2id" name="button2id" class="btn btn-danger">Scary Button</button>
            </div>
          </div>

          <!-- File Button --> 
          <div class="form-group">
            <label class=" control-label" for="filebutton">Avatar</label>
            <div class="">
              <input id="filebutton" name="filebutton" class="input-file" type="file">
            </div>
          </div>

          <!-- Select Multiple -->
          <div class="form-group">
            <label class=" control-label" for="selectmultiple">Category</label>
            <div class="">
              <select id="selectmultiple" name="selectmultiple" class="form-control" multiple="multiple">
                <option value="1">Option one</option>
                <option value="2">Option two</option>
              </select>
            </div>
          </div>

          <!-- Multiple Radios (inline) -->
          <div class="form-group">
            <label class=" control-label" for="radios">Do you like pie?</label>
            <div class=""> 
              <label class="radio-inline" for="radios-0">
                <input name="radios" id="radios-0" value="1" checked="checked" type="radio">
                yes
              </label> 
              <label class="radio-inline" for="radios-1">
                <input name="radios" id="radios-1" value="2" type="radio">
                No
              </label> 
              <label class="radio-inline" for="radios-2">
                <input name="radios" id="radios-2" value="3" type="radio">
                what is pie?
              </label> 
              <label class="radio-inline" for="radios-3">
                <input name="radios" id="radios-3" value="4" type="radio">
                I hate it!
              </label>
            </div>
          </div>

          <!-- Multiple Checkboxes -->
          <div class="form-group">
            <label class=" control-label" for="checkboxes">Extra features</label>
            <div class="">
              <div class="checkbox">
                <label for="checkboxes-0">
                  <input name="checkboxes" id="checkboxes-0" value="1" type="checkbox">
                  Paper plains
                </label>
              </div>
              <div class="checkbox">
                <label for="checkboxes-1">
                  <input name="checkboxes" id="checkboxes-1" value="2" type="checkbox">
                  Iron man
                </label>
              </div>
            </div>
          </div>

          <!-- Multiple Checkboxes (inline) -->
          <div class="form-group">
            <label class=" control-label" for="checkboxes">Any more?</label>
            <div class="">
              <label class="checkbox-inline" for="checkboxes-0">
                <input name="checkboxes" id="checkboxes-0" value="1" type="checkbox">
                One
              </label>
              <label class="checkbox-inline" for="checkboxes-1">
                <input name="checkboxes" id="checkboxes-1" value="2" type="checkbox">
                Two
              </label>
              <label class="checkbox-inline" for="checkboxes-2">
                <input name="checkboxes" id="checkboxes-2" value="3" type="checkbox">
                Drum and bass
              </label>
              <label class="checkbox-inline" for="checkboxes-3">
                <input name="checkboxes" id="checkboxes-3" value="4" type="checkbox">
                Dub
              </label>
            </div>
          </div>

          <!-- Search input-->
          <div class="form-group">
            <label class=" control-label" for="searchinput">Search Input</label>
            <div class="">
              <input id="searchinput" name="searchinput" placeholder="placeholder" class="form-control input-md" type="search">
              <p class="help-block">help</p>
            </div>
          </div>

          <!-- Textarea -->
          <div class="form-group">
            <label class=" control-label" for="textarea">Text Area</label>
            <div class="">                     
              <textarea class="form-control" id="textarea" name="textarea">default text</textarea>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  <div class="clearfix"></div>
</div>

<footer class="footer">
  <div class="container">
      <p>Lost Paws v0.1 |
        <a href="http://www.seanrose.io">seanrose.io</a> |
         <a href="https://github.com/sean1rose">Github</a></p>
  </div>
</footer>